<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
    <meta charset="UTF-8"/>
    <title>李姗姗最美</title>
    <link rel="stylesheet" href="/css/main.css" th:href="@{/css/main.css}"/>
</head>
<body>
<div style="padding-top: 50px;width:150px;font-weight: bold;font-size:24px;margin: auto">李姗姗最美</div>

<!--<p>没受权限限制</p>-->
<!--<p>admin用户角色：admin 密码 admin</p>-->
<!--<div th:fragment="logout" sec:authorize="isAuthenticated()">-->

    <!--登录用户:<span sec:authentication="name"></span>-->
    <!--用户角色:<span sec:authentication="principal.authorities"></span>-->
    <!--<div>-->
        <!--<form action="#" th:action="@{/logout}" method="post">-->
            <!--<input type="submit" value="退出"/>-->
        <!--</form>-->
    <!--</div>-->
<!--</div>-->
<!--<ul>-->
    <!--<li>点击<a href="/user/index" th:href="@{/user/index}">去</a>/user/index受保护页面</li>-->
<!--</ul>-->
</body>
</html>